<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fill in the Blanks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="top-menu">
        <div class="menu-item">
            <div id="case-dropdown">
                <h3>Select Case</h3>
                <label><input type="checkbox" id="case-select-all" checked> Select All</label>
                {% for value in unique_cases %}
                <label><input type="checkbox" name="case" value="{{ value }}" checked> {{ value }}</label>
                {% endfor %}
            </div>
        </div>
    </header>
    <header class="top-menu">
        <div class="menu-item">
            <div id="type-dropdown">
                <h3>Select Type</h3>
                <label><input type="checkbox" id="type-select-all" checked> Select All</label>
                {% for value in unique_types %}
                <label><input type="checkbox" name="type" value="{{ value }}" checked> {{ value }}</label>
                {% endfor %}
            </div>
        </div>
    </header>
        <header class="top-menu">
        <div class="menu-item">
            <div>
                <label for="phrase-count">Number of Phrases:</label>
                <input type="number" id="phrase-count" min="1" value="25" />
            </div>
        </div>
    </header>
    <header class="top-menu">
        <button class="menu-item styled-button" onclick="loadPhrase()">Load Phrase</button>
    </header>

    <main id="main-content" class="hidden">
        <h1>Fill in the Blanks</h1>

        <div id="display-section">
            <div id="english-text" class="text-display"></div>
            <div id="german-text" class="text-display"></div>
        </div>

        <div id="word-input">
            <input type="text" id="guess-input" placeholder="Enter the correct word" />
            <button onclick="checkAnswer()">Submit</button>
            <p id="feedback" class="feedback"></p>
        </div>

        <div id="rules-section">
            <button id="hint-button" class="tooltip">?
                <span class="tooltiptext">
                    <table id="rules-table"></table>
                </span>
            </button>
        </div>



        <div id="score" class="score-display">Correct: 0 | Incorrect: 0</div>
    </main>

    <script src="{{ url_for('static', filename='js/fill_blanks.js') }}"></script>
</body>
</html>
